<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imgs</key>
	<array>
		<string>img1.png</string>
		<string>img2.png</string>
		<string>img3.png</string>
		<string>img4.png</string>
		<string>img5.png</string>
		<string>img6.png</string>
	</array>
</dict>
</plist>
